*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

}

body{
    background-color: #121212;
}

#hotbar{
    height: 10vh;
    background-color: #0081a7;
}

#buff{
    display: flex;
    gap: 100px;
    justify-content: center;
    list-style: none;
    font-size: x-large;
}

#Main{
    display: grid;
    margin-top: 10vh;
    grid-template-columns: 200px 100px ;
    grid-template-rows: 100px;
    justify-content: center;
    gap: 5vw;
    row-gap: 1vh;
    
}

#txt{
    height: 5vh;
    width: 20vw;
    font-size: 3vh;
    border: none;
}

#txt:focus{
    outline: none;
}

#add{
    height: 5vh;
    margin-left: 10px;
}

#Tasklist{
  color: antiquewhite;  
}

#cancel{
    display: flex;
    justify-content: center;
}

