*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

}

body{
    background-color: #121212;
}

#hotbar{
    height: 10vh;
    background-color: #0081a7;
}

#buff{
    display: flex;
    gap: 100px;
    justify-content: center;
    list-style: none;
    font-size: x-large;
}

#Main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#txt{
    height: 5vh;
    width: 20vw;
    font-size: 3vh;
    border: none;
   
}

button{
    height: 5vh;
    margin-left: 10px;
}