*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #121212;
}

#hotbar{
    height: 10vh;
    background-color: #0081a7;
}

#buff{
    display: flex;
    gap: 100px;
    justify-content: center;
    list-style: none;
    font-size: x-large;
}